---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-[#69C0AF]">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">رؤيتنا</h2>
        </div>
    </div>
    <div class="flex items-center py-5 md:py-10">
        <p class="mx-3 text-xl font-normal leading-7 text-center md:text-left">
            مع وصول التقنية والرقمنة أوجها، أصبح جذب اهتمام شريحة العملاء تحديًا...
        </p>
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-[#69C0AF] rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">
                 في يـلا نبتكر حلول تسويقية مُتكاملة بناءً على احتياج كل عميل، عبر استهداف شريحة معينة من خلال محتوى جذاب وفعال.
            </p>
            <!-- <span class="text-[#69C0AF] text-base md:text-xl font-medium">John Smith<br/></span><span class="text-white text-lg font-normal">Marketing Director at XYZ Corp</span> -->
        </div>
    </div>
</div>

</Container>