---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="يلا" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>يلا للتسويق</title>
    <meta
      name="description"
      content="شركة يلا بلان للتسويق المحدودة"
    />
    <style>  
    @font-face {
      font-family: 'TheYearofTheCamel';
      font-style: normal;
      src: url('/TheYearofTheCamel-Medium.otf'),
          url('/TheYearofTheCamel-ExtraLight.otf') weight 100,
          url('/TheYearofTheCamel-Thin.otf') weight 200,
          url('/TheYearofTheCamel-Light.otf') weight 300,
          /* url('/TheYearofTheCamel-Medium.otf') weight 500, */
          url('/TheYearofTheCamel-Bold.otf') weight 700,
          url('/TheYearofTheCamel-ExtraBold.otf') weight 800;
    }
    </style>
  </head>
  <body class="bg-white space-y-20">
    <Navbar />
    <slot />
    <Footer/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>
